# Ignore most files
*.*

# Protect important files
!content.php
!index.php
!login.php
!example-database_conf.php

!resources/phpScripts/*
!resources/*.css
!resources/*.js

!.gitignore
!LICENSE
!*.md

# Cleanup any other files
resources/theme
resources/fontawesome
content
