body{
	align-items: unset;
}
#header-tabs{
	display: flex;
	padding: 10px 20px 0px 20px;
	border-bottom: 2px solid var(--secondary-color);
	background-color: var(--lowlight-color);
	margin-bottom: 1em;
}
#header-tabs .tab{
	cursor: pointer;
	padding: 5px;
	border: 2px solid var(--background-color);
	padding-bottom: unset;
	border-bottom: unset;
	font-size: 1.5em;
	background-color: var(--lowlight-color);
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
}
#header-tabs .tab.current{
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}
#header-tabs .tab:not(:nth-last-child(1)){
	margin-right: 10px;
}
.big-string-expanded textarea.big-string{
	max-height: 500px;
	height: 100px;
}
textarea.big-string{
	border-radius: 10px;
	overflow-x: auto;
	white-space: nowrap;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
	transition: 0.6s;
	max-height: 50px;
}
.remove_item input{
	background-color: var(--error);
	color: var(--popup-color);
	border-radius: 50%;
	padding: revert;
}
#tab_settings .table-wrapper{
	grid-template-columns: 60px 1fr 1fr 3fr;
	grid-auto-flow: dense;
}
#tab_settings .tr > *:nth-child(1){ grid-column: 2; }
#tab_settings .tr > *:nth-child(2){ grid-column: 3; }
#tab_settings .big-string-expanded > *:nth-child(2){grid-column: 3/5;}
#tab_settings .big-string-expanded > *:nth-child(4){grid-column: 1/-1;}

#tab_login_links .table-wrapper{
	grid-template-columns: 60px repeat(4, 1fr);
	grid-auto-flow: dense;
}
#tab_login_links .tr > *:nth-child(1){ grid-column: 2; }
#tab_login_links .tr > *:nth-child(2){ grid-column: 3; }
#tab_login_links .tr > *:nth-child(4){ grid-column: 5; }
#tab_login_links .th:nth-child(1){ grid-column: 1/3; }
#tab_login_links .th:nth-child(3){ display: none; }
#logs_container {
	display: grid;
	grid-template-columns: repeat(3, min-content);
	padding: 1ex;
	border-radius: 1em;
	margin-top: 2em;
	background-color: var(--lowlight-color);
	overflow-x: auto;
	font-size: small;
}
#logs_container > *{
	margin: .2em 1ex;
}
#logs_paging{
	margin: 1em;
}
#logs_paging span{
	margin: 0px 2px;
}
#logs_paging .nav-page{
	padding: 2px 5px;
	border-radius: 7px;
	cursor: pointer;
	background-color: var(--foreground-color);
	color: var(--background-color);
}
#logs_paging .current-page{
	background-color: var(--lowlight-color);
	color: inherit;
	cursor: initial;
}
#mobile_menu{
	display: none;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	padding: 5px;
	background-color: var(--secondary-color);
	min-height: 35px;
	margin: auto;
	box-sizing: border-box;
}
#mobile_menu > div{
	pointer-events: none;
	padding: 2px 13px;
	background-color: var(--foreground-color);
	border-radius: 5px;
}
.auto_scroll_padding { 
	position: relative;
}
.auto_scroll_padding:before { 
	display: block; 
	content: " "; 
	visibility: hidden; 
	position: absolute;
	top: -100px;
}
.ordering {
	background: var(--lowlight-color);
	padding: 2em 2ex;
	border-radius: 10px;
	margin: 10px 0px;
}
.ordering .draggable {
	margin: 10px 0px;
	background-color: var(--secondary-color);
	border-radius: 5px;
	padding: 8px;
	border: 2px solid var(--secondary-color);
	box-sizing: border-box;
}
.ordering .draggable.hovered{
	transition: 1s;
	border-color: var(--popup-color);
}
.ordering .section .section {
	display: contents;
}
.ordering .section {
	display: flex;
	align-items: center;
}
.ordering .dragger {
	padding: 3px 6px;
	cursor: move;
	min-height: 20px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	touch-action: none;
}
.ordering .dragger > div {
	padding: 3px 13px;
	background-color: var(--foreground-color);
	border-radius: 5px;
	pointer-events: none;
}
.ordering .content-preview {
	mask-image: linear-gradient(to right, black 80%, transparent);
	-webkit-mask-image: linear-gradient(to right, black 80%, transparent);
	overflow-x: hidden;
	width: 100%;
}
.ordering .draggable input[type=text]{
	max-width: 175px;
}
.ordering .draggable .expand{
	cursor: pointer;
}
.ordering .draggable .expand::after{
	content: "▶";
}
.ordering .draggable.expanded .expand::after{
	content: "▼";
}
.ordering .draggable.expanded > * > .dragger{
	display: none;
}
.draggable .section > *:not(:last-child):not(.section),
.draggable .section .section:not(:last-child) > * {margin-right: 20px;}
.draggable .draggable{
	background-color: var(--lowlight-color);
	border-color: var(--lowlight-color);
}
.draggable .draggable .dragger > div{
	padding: 2px 13px;
}
.draggable .expanded-rows{
	display: none;
}
.draggable.expanded .expanded-rows{
	display: initial;
}
.expanded-rows .dragger-container{
	padding: 0px 10px;
	border-radius: 10px;
	border: 2px solid var(--lowlight-color);
	box-sizing: border-box;
	min-inline-size: 100%;
}
.expanded-rows .dragger-container legend{
	pointer-events: none;
}
.expanded-rows > *{
	margin: 13px 0px;
}
.draggable.placeholder{
	background-color: var(--background-color);
	border-color: var(--foreground-color);
	border-style: dashed;
}
.draggable#currently_dragging{
	position: absolute;
	top: 0;
	opacity: 0.6;
	pointer-events: none;
}
#editor-content{
	height: 500px;
}
.draggable.highlight-row{
	border-color: var(--success);
}
.fab:before,.fas:before{
	content: '?';
}
.draggable .icon-preview{
	color: var(--important-color);
	font-size: 3ex;
}
#tab_files{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
#tab_files .file-actions{
	max-width: 270px;
	width: 270px;
}
#tab_files .editor-container{
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
#tab_files .editor-container #file-editor{
	flex-grow: 1;
}
#tab_files label[for=file_upload]{
	font-size: 3ex;
	padding: .5ex;
	border-radius: 10px;
	background-color: var(--foreground-color);
	color: var(--lowlight-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
#tab_files label[for=file_upload] span{
	font-size: 1.5ex;
	margin-left: 1ex;
}
#tab_files #file_upload{
	opacity: 0;
	height: 0.1px;
	width: 0.1px;
	position: absolute;
}
.file-tree{
	overflow: auto;
}
.file-tree,
.file-tree .ul{
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-column: 2;
}
.file-tree .folder,
.file-tree .file{
	display: contents;
}
.file-tree .li > *:not(.ul){
	padding: .5ex;
}
.file-tree .li > *:nth-child(2){
	display: flex;
	align-items: center;
}
.file-tree .folder:not(.expanded) .ul{
	display: none;
}
.file-tree i{
	font-size: 2ex;
	text-align: center;
}
.file-tree .folder.selected > *:not(.ul){
	background-color: var(--lowlight-color);
}

/* File icons */
.file-tree .file > i:before{
	content: "\f15b"; /* plain file */
}
.file-tree .file[mime-type*="video/"] > i::before{
	content: "\f03d"; /* video */
}
.file-tree .file[mime-type*="image/"] > i:before{
	content: "\f03e"; /* image */
}
.file-tree .file[mime-type*="text/"] > i:before{
	content: "\f121"; /* code */
}

/* Folder Icons */
.file-tree .folder > i:before{
	content: "\f07b"; /* closed folder */
}
.file-tree .folder.expanded > i:before,
.file-tree .folder.root > i:before{
	content: "\f07c"; /* open folder */
}
.file-tree .dirty > .file-name {
	font-style: italic;
}
.file-name{
	white-space: nowrap;
}
.file-tree .new-file > i{
	color: var(--warning);
}

.file-tree .dirty > .file-name::before {
	content: "*";
	padding-right: .5ex;
}


@media only screen and (max-width: 575px){
	#tab_settings .table-wrapper{
		grid-template-columns: 40px 1fr 2fr;
	}
	#tab_settings .tr > *:nth-child(1){ grid-column: 1 / 3; }
	#tab_settings .tr > *:nth-last-child(1){ grid-column: span 2; }

	#tab_settings .tr:not(.big-string-expanded) > *:nth-last-child(-n+2),
	#tab_settings .big-string-expanded > *:nth-child(4),
	#tab_login_links .tr > *:nth-last-child(-n+3){
		border-bottom: 2px solid var(--foreground-color);
	}

	#tab_settings .big-string-expanded > *:nth-child(1){grid-column: 2 / 4;}
	#tab_settings .big-string-expanded > *:nth-child(2){grid-column: 1 / 4;}
	#tab_settings .big-string-expanded > *:nth-child(3){grid-column: 1;}
	#tab_settings .big-string-expanded > *:nth-child(4){grid-column: 1 / 4;}

	#tab_login_links .table-wrapper{
		grid-template-columns: 1fr 1fr 2fr;
	}
	#tab_login_links .tr > *:nth-child(n){
		grid-column: unset;
	}
	#tab_login_links .tr > *:nth-child(1){
		grid-column: span 2;
	}
	#tab_login_links .th:nth-child(3){ display: initial; }
	.section.col2-wrap{
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-gap: 5px;
	}
	.section.col2-wrap > *{
		margin: 0;
	}
	#mobile_menu{
		display: flex;
	}
	#header-tabs{
		padding: 0;
	}
	#header-tabs .tab{
		border:unset;
		border-radius: 0px;
		width: 100%;
		margin:0px !important;
	}
	#header-tabs .tab:not(.current){
		display: none;
	}
	#header-tabs.expanded{
		flex-direction: column;
	}
	#header-tabs.expanded #mobile_menu{
		justify-content: center;
		background-color: var(--lowlight-color);
	}
	#header-tabs.expanded #mobile_menu div:nth-child(1){transform: translate(0px, 2px) rotate(45deg);}
	#header-tabs.expanded #mobile_menu div:nth-child(2){transform: translate(0px, -2px) rotate(-45deg);}
	#header-tabs.expanded #mobile_menu div:nth-child(3){display: none;}
	#header-tabs.expanded .tab{
		display: initial;
	}
	#header-tabs.expanded .tab:nth-child(n+3){
		grid-column: span 2;
	}
	.ordering .draggable {
		padding: 4px;
	}
	.ordering .draggable:not(.secondary) >*> .content-preview {
		display: none;
	}
	.expanded-rows .dragger-container{
		padding: 0px 5px;
	}
	.draggable .section > *:not(:last-child):not(.section),
	.draggable .section .section:not(:last-child) > * {
		margin-right: 4px;
	}
	.draggable.post .section .section *:last-child{
		margin-right: 0;
	}
	.draggable.post > .section{
		display: grid;
		grid-template-columns: min-content minmax(0, 1fr);
		grid-row-gap: 5px;
		/* grid-template-rows: repeat(); */
	}
	.draggable.post .section .section{
		display: flex;
	}
	.draggable.post .dragger{
		grid-row: 1/4;
	}
}